doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/flashcard-questions.css')
  body
    block content
    block scripts
      script(type='text/javascript' src='/javascripts/flashcard-questions.js')
